.App {
  text-align: center;
}

.App-logo {
  background-image: url(./ipfs_logo.png);
  animation: App-logo-spin infinite 10s linear;
  height: 220px;
  width: 220px;
  max-width: 220px;
  max-height: 220px;
  display: inline-flex;
  

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Icon
{
  margin:1px;
}
.List
{
  max-width: 600px;
  color:"#e0e0e0";
  border: black ;
}
.List-item
{
  align-items: center;
  max-width: 600px;
  text-align: center;
  flex-direction: row;
  margin:10px;
  color:"#e0e0e0";
}

.List-item-text
{
  color:"#e0e0e0";
  margin: 5px;
}

.List-item-button
{
  padding: 6px 8px;
  margin: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
